<div align=right class="footer">
  <small>
    <%= link_to "One Month Rails", "http://onemonthrails.com" %>
    by <%= link_to "Lehel Csiki", "http://lehel.ro" %>
  <br>
   <p align=right> <%= link_to "Heroku Link", "http://rocky-caverns-2728.herokuapp.com" %></p>
  <div class="row-fluid">
  <div class="span6 offset6">
   <pre>
   -----> Compiled slug size: 34.9MB
   -----> Launching... done, v8
        http://rocky-caverns-2728.herokuapp.com deployed to Heroku</pre>
   </div>
   </div>
  </small>
</div>
