<div align=right class="footer">
  <small>
    <%= link_to "One Month Rails", "http://onemonthrails.com" %>
    by <%= link_to "Lehel Csiki", "http://lehel.ro" %>
  <br>
   <p align=right> <%= link_to "Heroku Link", "http://rocky-caverns-2728.herokuapp.com" %></p>
  </small>
</div>
